*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    gap: 1rem;

    background: url(assets/images/pattern-background-mobile-light.svg) no-repeat center;
    background-size: cover;
    background-position: 0 0;
}

.hidden
{
    display: none;
}